<div class="benpage">
  <div class="page">
    <ul class="nav nav-pills nav-justified benbar">
    <h1><%= @user.email %></h1>
    <h4>The Benefits you have redeemed:</h4>
    <br/>
    <% @user.benefits.each do |benefit| %>
      <div class="col-sm-2 col-md-4">
        <div class="thumbnail">
          <%= link_to (image_tag benefit.image.url), benefit %>
          <h3>
            <%= link_to benefit.title, benefit %>
          </h3>
        </div>
      </div>
    <% end %>
    <br/>
  </div>
</div>