<div class="page">
  <h1><%= @user.email %></h1>
  <h3>The Benefits you have redeemed:</h3>
  <% @user.benefits.each do |benefit| %>
    <div class="box panel panel-default">
        <%= link_to (image_tag benefit.image.url(:medium)), benefit %>
        <div class="panel-body">
          <h3><%= link_to benefit.title, benefit %></h3>
          <h5>Tags:</h5>
          <%= render benefit.categories %>
        </div>
    </div>
  <% end %>
</div>