<div id="title">
  <h2>About Us</h3>
  <h4>Who we are and why we do what we do?</h4>
</div>

<div class="row">
  <div class="col-lg-9">
    <h3>ZooPerk provides employee perks like discounts and VIP treatment in fitness, entertainment, travel, and a lot more. We pool thousands of companies together and using numbers we are able to get high quality perks.</h3>
     <div class='about'>
          Often time small companies and startup don’t have the ability to provide the same level of perks as larger established corporation. In fact, according to a 2013 study by LIMRA less than half of small businesses offer employee benefits packages of any kind. This can be surprising when we consider that 60% of employees cite their employee benefits package as the primary reason they stay with their current employer.
  Here at ZooPerk our objective is to level the playing field by providing and managing affordable corporate discounts and rewards solutions for startups. Our strategy is to pool thousands of companies together and using numbers we are able to get high quality perks. This includes access to preferred pricing on gym memberships, lower fare daycare services, a discount while renting a car, and much more. 
  For our benefit partners, we offer them the access to advertisement through the app notifications as well as new untapped client base. 
      </div>
  </div>
  <br/>
  <div class='col-lg-3'>
        <%= image_tag("diamond.png", alt: "rss feed", height: 60, width: 60) %>
      <h2 class="midrow">
        401k
      </h2>
        <%= image_tag("graph.png", alt: "rss feed", height: 60, width: 60) %>
      <h2 class="midrow">
        Perk3
      </h2>
        <%= image_tag("target.png", alt: "rss feed", height: 60, width: 60) %>
      <h2 class="midrow">
        Benefits
      </h2>
  </div>
</div>