<div id="title">
  <h2>Blog</h3>
  <h4>What have we been up to?</h4>
</div>

<div class="row">
  <div>
    <h3>New Members of District 3</h3>
    <h2>July 13th,2015</h2>
  </div>
  <br/>
  <div>
    <div class="col-lg-8">
      <%= image_tag("d3pic.jpg", alt: "rss feed", height: 400, width: 800) %>
      <br><br><br>
      <div class='about'>
        “District 3 is an innovation and entrepreneurship zone at the heart of Concordia University. Open to everyone, District 3 provides its members with resources and mentorship in order to help them grow as individuals and find success in Montreal and beyond.”
As Concordia Students my brother and I feel that District 3 is the perfect platform to help develop our product. We are looking forward to meet like-minded innovators and entrepreneurs on the road to success. We are also looking forward to being paired with an experience mentor and coach who will help and guide us along the way.
     </div>
    </div>
  </div>
</div>