
$navbar-default-bg: #3a3f41;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('//fonts.googleapis.com/css?family=Poiret+One|Arvo|Questrial');

#logo{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
    padding-right: 30px;
    float: left;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
#botlogo{
    float: center;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
#hlogo{
    margin-top: 30px;
    padding-left: -15px;
    margin-left: -45px;
    float: left;
}

#logo:hover{
    color: white;
}

body{
    padding-top: 40px;
}
.about{
    text-align: left;
    font-size: 1.2em;
    color: #263F40;
    line-height: 30px;
}

.nav_item{
    margin-right: 25px;
    padding-right: 15px;
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    text-transform: none;
    font-size: 1.3em;
    font-family: 'Questrial', sans-serif;
}
.benbar{
    text-transform: uppercase;
    font-weight: bold;
    color: #656565;
    margin-top: -125px;
    padding-top: 15px;
    padding-bottom: 10px;
    letter-spacing: -1px;
    background-color:white;
    border-style: solid;
    border-color: #CACACA;
    border-width: 1px;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
}
.benbar:hover{
    text-decoration: none;
}
.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: white;
    color: #656565;
}
.nav-pills > li > a:hover {
    text-decoration: none;
}
.nav-pills {
    > li > a:hover {
        text-decoration: none;
    }
}
a:hover{
    color: white;
    text-decoration: none;
}

a {
    color: inherit;
}

#title {
    float: center;
    padding-top: 180px;
    padding-bottom: 180px;
    margin-top: 20px;
    text-transform: none;
    font-weight: bold;
    font-family: 'Arvo', serif;
    font-size: 3em;
    color: black;
    text-align: center;
    background-color: #f4f4f4;
}
.benpage{
    padding-top: 110px;
    background-color: white;
}
.benback{
    background-color: #f4f4f4;
}
.btn {
    border-style: solid;
    border-width: 2px;
    width: 10%;
    font-size: 0.7em;
    color: white;
}
.btn-default{
    border-style: solid;
    border-width: 1px;
    width: 10%;
    font-size: 1em;
    color: black;
}
.btn1{
    border-style: solid;
    border-width: 1px;
    width: 10%;
    font-size: 1em;
    color: white;
}
.btn2{
    width: 30%;
}
.btn-partners{
    width: 20%;
}
.form-controlsearch{
    width: 40%;
    text-align: center;
}
.row{
    padding-right: 425px;
    padding-left: 425px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    top: -20px;
}
.page{
    padding-right: 425px;
    padding-left: 425px;
    padding-top: 60px;
    padding-bottom: 100px;
    text-align: center;
    top: -20px;
    background-color: #f4f4f4;
}
.row1{
    padding-right: 425px;
    padding-left: 425px;
    padding-top: 30px;
    padding-bottom: 275px;
    text-align: center;
    top: -20px;
    background-color: #f4f4f4;
}
.signin{
    padding-right: 425px;
    padding-left: 425px;
    padding-top: 80px;
    padding-bottom: 550px;
    text-align: left;
    top: -20px;
    background-color: #f4f4f4;
}

.left {
    font-size: 1.2em;
    color: #47525C;
}

.midrow {
    font-size: 1.8em;
    color: #3a3f41;
}

.foottitle{
    font-size: 1.8em;
    color: white;
}

footer{
    padding-right: 425px;
    padding-left: 425px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    top: -20px;
    background-color:#3a3f41;
    color: #939393;
    font-family: 'Questrial', sans-serif;
}

h3{
    font-family: 'Poiret One', cursive;
}

h1{
    font-family: 'Arvo', serif;
}

#benefits {
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 10px;
	  width: 310px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 0px 10px;
	  	a {
				color: #474747;
	  	}
	  }
	  .user {
	  	font-size: 12px;
	  	border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
	  }
	}
}